<!--サイドバー user-->
<div class="mx-auto" style="width: 90%;">
<h2>User info</h2>
<p><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></p>
<table class="table">
  <tr class="profile-name">
    <td>name</td>
    <td><%= user.name %></td><!--なんでひっかかる？-->
  </tr>
  <tr>
    <td>introduction</td>
    <td><%= user.introduction %></td><!--なんでひっかかる？-->
  </tr>
</table>
</div>
<% if user.id == current_user.id %>
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary my-4 col-xs-12", style: "width: 100%;" do %>
      <span class="fas fa-user-cog"></span>
    <% end %>
<% end %>
