<!--Users-->
<!--左サイドバー同じだからあとで入れる-->
<div class="user-list">
<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
   <% @users.each do |user| %>
    <tr>
      <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60,fallback: "no_image.jpg" %></td>
      <td><%= user.name  %></td>
      <td><!--link_to 'show' で/users/ID　にとばす--><a href="/">show</a></td>
    </tr>
   <% end %>
  </tbody>
</table>
