<!--Users-->

<div class="container-fluid m-4">
  <div class="row">
    <div class="col-4" id="sticky-sidebar">
      <!-- サイドバー  -->
      <%= render 'users/said', user: @user %>
      <%= render 'books/said', book: @book %>
    </div>
    <div class="my-box col-auto"></div>
    <!-- 投稿一覧  -->
    <div class="col-8">
     <h1>Users</h1>
     <table class="table table-striped">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
       <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, size:'50x50',fallback: "no_image.jpg" %></td>
          <td><%= user.name  %></td>
          <td><!--link_to 'show' で/users/ID　にとばす--><a href="/">show</a></td>
        </tr>
       <% end %>
      </tbody>
    </table>
  </div>
</div>
