<div class="container-fluid m-3">
  <div class="mx-auto" style="width: 50%;">
    <h1>welcome to <i class="fas fa-book"></i><span class="font-weight-bolder">Bookers !!</span></h1>
    <p>In <i class="fas fa-book"></i><span class="font-weight-bolder">Bookers,</span></p>
    <p>you can share and exchange your opinions , inpressions , and emotions</p>
    <p>about various books!</p>
    <p><%= link_to "login",new_user_session_path, type:"button", class:"btn btn-info", style:"width: 100%;" %></p>
    <p><%= link_to "sign up", new_user_registration_path, type:"button", class:"btn btn-success", style:"width: 100%;" %></p>
  </div>
</div>